<div class="loading" style="width: 95%"></div>

<form class="form-horizontal" id="editForm" >
    <input type="hidden" name="userId" id="userId" value="<%= userId %>">
    <input type="hidden" name="id" id="id" value="<%= id %>">
    <div class="form-group">
        <label class="col-md-2 control-label">选择办公区</label>
        <div class="col-md-10">
            <select class="mw316 w316"  name="place" id="officeAreaSel"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">选择会议室</label>
        <div class="col-md-10">
            <select class="mw316 w316"  name="conferenceRoom" id="officeRoomSel"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2  control-label">选择时间</label>
        <div class="col-md-10">
            <div class="row">
                <span class="col-md-5"><input name="startTime" class="form-control startTime" type="text" value="<%= startTime %>"></span>
                <span class="col-md-2" style="text-align: center;line-height: 30px;">至</span>
                <span class="col-md-5"><input name="endTime" class="form-control endTime" type="text" value="<%= endTime %>"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">会议主题</label>
        <div class="col-md-10">
            <input type="text" name="conferenceTheme" id="conferenceTheme" class="form-control" value="<%= conferenceTheme %>">
        </div>
    </div>
</form>