<div class="loading" style="width: 95%"></div>

<form class="form-horizontal" id="editForm" >
    <input type="hidden" name="id" id="id" value="<%= id %>">
    <input type="hidden" name="operatorId" id="operatorId" value="<%= operatorId %>">
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>证书名称</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <input type="text" name="credentialName" class="form-control" value="<%= credentialName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>照片</label>
        <div class="col-md-9">
            <div id="uploaderWrap"></div>
            <input type="hidden" name="credentialPath" id="areaPhotoAddress" class="form-control" value="<%= credentialPath %>">
        </div>
    </div>
</form>
