<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">

    <% $.each(list, function(i, n){ %>
        <% if(i%3 == 0){ %>
        <div class="row">
            <% } %>
            <div class="col-md-4">
                <% if(!n.id){ %>
                    <input type="checkbox" value="<%= n.id %>" data-url="<%= n.url %>" data-name="<%= n.name %>"> <%= n.name %>
                <% } %>
                <% if(n.id){ %>
                    <input type="checkbox"  value="<%= n.id %>" data-name="<%= n.menuName %>" > <%= n.menuName %>
                <% } %>
            </div>
            <% if(i%3 == 2){ %>
        </div>
        <% } %>
    <% }); %>
    <% if(list.length == 0){ %>
        没有数据
    <% } %>
</form>