<form class="form-horizontal" id="submitForm" >
    <input type="hidden" name="userId" id="userId" value="100">
    <div class="form-group">
        <label class="col-md-2 control-label">交办时间</label>
        <div class="col-md-9">
            <span class="form-control" style="border:none;"><%= assignTime %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">交办对象：</label>
        <div class="col-md-9">
            <span class="form-control" style="border:none;"><%= assignUserName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">交办任务：</label>
        <div class="col-md-9">
            <span class="form-control" style="border:none;"><%= assignTask %></span>
        </div>
    </div>
</form>