<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <input type="hidden" name="status" value="<%= status %>" id="status" />
    <div class="form-group">
        <label class="col-md-3 control-label">标题</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <input type="text" name="postName" class="form-control" value="<%= postName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">编号</label>
        <div class="col-md-9">
            <input type="text" name="postName" class="form-control" value="<%= postName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">正文</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <textarea type="text" name="dutyDescription" class="form-control" value="<%= dutyDescription %>"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">附件</label>
        <div class="col-md-9">
            <input type="text" name="id" class="form-control" value="{{id}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">
            <span class="flow-title">通知范围</span>
        </label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" class="form-control test">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
                <!-- /btn-group -->
            </div>
        </div>
        <div class="arrow-down"></div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">发布起止时间</label>
        <div class="col-md-4">
            <input type="text" name="dutyDescription" class="form-control accessTime" value="<%= dutyDescription %>">
        </div>
        <div class="col-md-1">-</div>
        <div class="col-md-4">
            <input type="text" name="dutyDescription" class="form-control accessTime" value="<%= dutyDescription %>">
        </div>
    </div>
</form>