<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="assetReceiveEditForm">
    <input type="hidden" name="assetId" value="<%= assetId %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label">领用单号：</label>
        <div class="col-md-9">
            <span style="border: none" class="form-control">提交后自动生成</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>领用人：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="hidden" name="assetUsedId" value="<%= assetUsedId %>">
                <input class="form-control test" type="text" id="assetUsedName" name="assetUsedName" value="<%= assetUsedName %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">领用处理人：</label>
        <div class="col-md-9">
            <span class="form-control" style="border: none"><%= window.ownerPeopleName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>领用时间：</label>
        <div class="col-md-9">
            <input type="text" name="receiveDate" class="form-control receiveDate" value="<%= receiveDate %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">说明：</label>
        <div class="col-md-9">
            <input type="text" name="remark" class="form-control" value="<%= remark %>">
        </div>
    </div>
</form>