<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="assetEditForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>名称：</label>
        <div class="col-md-9">
            <input type="text" name="name" class="form-control" value="<%= name %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>数量：</label>
        <div class="col-md-9">
            <input type="text" name="num" class="form-control" value="<%= num %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>类型：</label>
        <div class="col-md-9">
            <input type="text" name="type" class="form-control" value="<%= type %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>预警：</label>
        <div class="col-md-9">
            <input type="text" name="warning" class="form-control" value="<%= warning %>">
        </div>
    </div>
</form>