<div class="row">
    <button type="button" id="btn_summary" style="margin-left: 15px; margin-bottom: 10px" class="btn btn-primary">个人总结</button>
</div>
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% $.each(list, function(i, n){ %>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id=" <%= 'headingTwo' + i  %>">
            <h4 class="panel-title">
                <% if(i=="0"){ %>
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse' + i  %>" aria-expanded="true" aria-controls="<%= 'collapse' + i  %>">
                    <% if(n.summaryType == "0"){ %>
                    <span><%=  ncjwUtil.getCurrentDate(n.gmtCreate) %></span>
                    <% } %>
                    <% if(n.summaryType != "0"){ %>
                    <span><%= ncjwUtil.getCurrentDate(n.startDate) %></span>
                    —
                    <span><%= ncjwUtil.getCurrentDate(n.endDate) %></span>
                    <% } %>
                </a>
                <% } %>
                <% if(i != "0"){ %>
                <a  class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="<%= '#collapse' + i  %>" aria-expanded="false" aria-controls="<%= 'collapse' + i  %>">
                    <% if(n.summaryType == "0"){ %>
                    <span><%=  ncjwUtil.getCurrentDate(n.gmtCreate) %></span>
                    <% } %>
                    <% if(n.summaryType != "0"){ %>
                    <span><%= ncjwUtil.getCurrentDate(n.startDate) %></span>
                    —
                    <span><%= ncjwUtil.getCurrentDate(n.endDate) %></span>
                    <% } %>
                </a>
                <% } %>
                <span class="title"><%= n.summaryType == 0 ? "": n.summaryType == 1 ? "本周总结"  : n.summaryType == 2 ? "本月总结" : n.summaryType == 3 ? "本季总结" : "本年总结" %></span>
                <button value="<%= n.id %>" class='<%= n.status == "0" ? "btn btn-success : n.status == 1 ? "btn"  : "btn btn-primary btn-check%>'><%= n.status == "0" ? "待审核": n.status == 1 ? "已审核"  : "提交" %></button>
            </h4>
        </div>
        <% if(i=="0"){ %>
        <div id="<%= 'collapse' + i  %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="<%= 'headingTwo' + i  %>">
        <% } %>
            <% if(i!="0"){ %>
            <div id="<%= 'collapse' + i  %>" class="panel-collapse collapse " role="tabpanel" aria-labelledby="<%= 'headingTwo' + i  %>">
            <% } %>

            <div class="panel-body">
                <% if(n.summaryType =="0"){ %>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">关键业务指标</label>
                        <div class="col-md-9">
                            <%= n.kpiName %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">目标数值</label>
                        <div class="col-md-9">
                            <%= n.targetNumber %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">完成情况</label>
                        <div class="col-md-9">
                            <%= n.performance %>
                        </div>
                    </div>
                </div>
                <% } %>
                <% if(n.summaryType !="0"){ %>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">自我评价</label>
                        <div class="col-md-9">
                            <%= n.selfEvaluation %>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-3 control-label">工作总结</label>
                        <div class="col-md-9">
                            <%= n.workSummary %>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <% }); %>
</div>