<div class="loading" style="width: 95%"></div>

<form class="form-horizontal" id="editForm" >
    <input type="hidden" name="operatorId" id="operatorId" value="<%= operatorId %>">
    <input type="hidden" name="operatorName" id="operatorName" value="<%= operatorName %>">
    <input type="hidden" name="summaryType" id="summaryType" value="<%= summaryType %>">
    <input type="hidden" name="gmtCreate" id="gmtCreate" value="<%= gmtCreate %>">
    <input type="hidden" name="id" id="id" value="<%= id %>">
    <div class="form-group">
        <label class="col-md-3 control-label">时间范围</label>
        <div class="col-md-4">
            <input type="text" name="startDate" class="form-control accessTime" value="<%= startDate %>">
        </div>
        <div class="col-md-1">-</div>
        <div class="col-md-4">
            <input type="text" name="endDate" class="form-control accessTime" value="<%= endDate %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label pl0">关键业务指标</label>
        <div class="col-md-9">
            <select class="form-control w332"  name="kpiId" id="kpiSel"></select>
            <input type="hidden" name="kpiName" id="kpiName" value="<%= kpiName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label pl0">目标数值</label>
        <div class="col-md-9">
            <select class="form-control w332"  name="targetNumber" id="targetNumSel"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label pl0">完成情况</label>
        <div class="col-md-9">
            <textarea placeholder="请输入完成情况"  name="performance" id="performance" class="form-control" value="<%= performance %>"><%= performance %> </textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label title-wrap">
            <span class="flow-title">审批人</span>
        </label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" class="form-control test w334">
                <input type="text" name="approverId" class="approverId" value="<%= approverId %>">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>