<div class="tabbable">
    <button type="button" id="btn_add" style="float: right" class="btn btn-primary">新增日程</button>
    <ul class="nav nav-tabs" id="tabNav">
        <% $.each(items, function(i, n){ %>
        <li><a href="#" data-value="<%= i %>" data-toggle="tab"><%= n %></a></li>
        <% }); %>
    </ul>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="currentDay"><%= currentDay %></div>
        <div class="currentTime"><%= currentTime %></div>
        <div id="calendarWrap"></div>
    </div>
    <div class="col-md-9">
        <div id="workSummaryWrap"></div>
    </div>
</div>
<!--dialog-->
<div class="modal fade bs-example-modal-lg" id="editDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title" >个人绩效管理</h5>
            </div>
            <div class="modal-body" >
                <div id="editPanel"></div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button id="submitBtn" class="btn btn-primary" onclick="">保存</button>
            </div>
        </div>
    </div>
</div>
