<div class="row">
    <div id="toolbar">
        <div class="form-inline" role="form">
            <div class="form-group">
                <span>仓库查询： </span>
                <select name="storeId" id="storeId" class="form-control">
                    <option value="0">全部</option>
                	<% $.each(storeList, function(i, n) { %>
                		<option value="<%= n.id %>"><%= n.name %></option>
                	<% }); %>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="equip"></table>
</div>
