<form class="form-horizontal" id="submitForm" >
    <input type="hidden" name="userId" id="userId" value="100">
    <div class="form-group">
        <label class="col-md-2 control-label">关键业务指标</label>
        <div class="col-md-10">
            <select class="mw316 w316"  name="kpi" id="kpiSel"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">目标数值</label>
        <div class="col-md-10">
            <select class="mw316 w316"  name="targetNum" id="targetNumSel"></select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">完成情况：</label>
        <div class="col-md-9">
            <textarea name="performance" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">岗位指标设定：</label>
        <div class="col-md-9">
            <input type="text" name="postKpi" class="form-control">
        </div>
    </div>
</form>

<div class="modal-footer">
    <button id="btn-submit" data-status="1" class="btn btn-primary status-button" >设定</button>
</div>