<form class="form-horizontal">
    <div class="form-group">
        <label class="col-md-2 control-label">时间范围：</label>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-5"><span class="form-control" style="border:none;"><%= startDate %></span>
                <div class="col-md-2" style="text-align: center;line-height: 30px;">至</div>
                <div class="col-md-5"><span class="form-control" style="border:none;"><%= endDate %></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">关键业务指标：</label>
        <div class="col-md-10">
            <input type="text" class="form-control mw316 w316" name="kpiName" id="kpiName">
            <span class="form-control" style="border:none;"><%= kpiName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">目标数值：</label>
        <div class="col-md-10">
            <input type="text" class="form-control mw316 w316" name="targetNumber" id="targetNumber">
            <span class="form-control" style="border:none;"><%= targetNumber %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">岗位指标设定：</label>
        <div class="col-md-10">
            <input type="text" name="postKpi" id="postKpi" class="form-control mw316 w316">
            <span class="form-control" style="border:none;"><%= postKpi %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">完成情况：</label>
        <div class="col-md-9">
            <span class="form-control" style="border:none;"><%= performance %></span>
        </div>
    </div>
</form>
