<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" >
    <input type="hidden" name="id" id="id" value="<%= id %>" />
    <input type="hidden" name="parentId" value="<%= parentId %>" />
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>单位名称</label>
        <div class="col-md-9">
            <input type="text" name="departmentName" class="form-control" value="<%= departmentName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>职责描述</label>
        <div class="col-md-9">
            <input type="text" name="responsibility" class="form-control" value="<%= responsibility %>">
        </div>
    </div>
</form>