<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-2 control-label">授权者：</label>
        <div class="col-md-9">
            <input type="text" id="assignor" name="assignor" class="form-control" value="<%= assignor %>">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">被授权者：</label>
        <div class="col-md-9">
            <input type="text" id="assignee" name="asignee" value="<%= assignee %>" class="form-control">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                </ul>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">时间：</label>
        <div class="col-md-9">
            <span class="col-md-5"><input name="startTime" class="form-control startTime" type="text" value="<%= startTime %>"></span>
            <span class="col-md-2" style="text-align: center;line-height: 30px;">至</span>
            <span class="col-md-5"><input name="endTime" class="form-control endTime" type="text" value="<%= endTime %>"></span>
        </div>
    </div>
</form>