<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-2 control-label">授权者：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" id="creatorId" class="form-control test" value="<%= creatorName %>">
                <input type="hidden" name="creatorId" value="<%= creatorId %>">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">被授权者：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" id="targetId" value="<%= targetName %>" class="form-control test">
                <input type="hidden" name="targetId" value="<%= targetId %>">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">时间：</label>
        <div class="col-md-9">
            <span class="col-md-5"><input name="startTime" class="form-control startTime" type="text" value="<%= startTime %>"></span>
            <span class="col-md-2" style="text-align: center;line-height: 30px;">至</span>
            <span class="col-md-5"><input name="endTime" class="form-control endTime" type="text" value="<%= endTime %>"></span>
        </div>
    </div>
</form>