<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <%if(id){%>
        <div class="form-group">
            <label class="col-md-3 control-label">名称：</label>
            <div class="col-md-9">
                <span class="form-control"><%= petitionName %></span>
            </div>
        </div>
    <%}%>
    <%if(!id){%>
        <div class="form-group">
            <label class="col-md-3 control-label">名称：</label>
            <div class="col-md-9">
                <input type="text" name="petitionName" class="form-control" value="<%= petitionName %>">
            </div>
        </div>
    <%}%>
    <%if(id){%>
        <div class="form-group">
            <label class="col-md-3 control-label">登记内容：</label>
            <div class="col-md-9">
                <span class="form-control"><%= recordContent %></span>
            </div>
        </div>
    <%}%>
    <%if(!id){%>
        <div class="form-group">
            <label class="col-md-3 control-label">登记内容：</label>
            <div class="col-md-9">
                <input type="textarea" name="recordContent" class="form-control" value="<%= recordContent %>">
            </div>
        </div>
    <%}%>
</form>