<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <div class="form-group">
        <label class="col-md-3 control-label">姓名</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <input type="text" name="areaName" class="form-control" value="<%= areaName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">工号/警员编号</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label">职别</label>
        <div class="col-md-9">
            <input  type="text" name="areaSize" class="form-control" value="<%= areaSize %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">所属部门</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">手机</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">邮箱</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">办公区</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">办公室</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">职务</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">岗位</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
</form>