<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>职位名称</label>
        <div class="col-md-9">
            <input type="text" name="postName" class="form-control" value="<%= postName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>岗位职责</label>
        <div class="col-md-9">
            <input type="text" name="dutyDescription" class="form-control" value="<%= dutyDescription %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>人员编制</label>
        <div class="col-md-9">
            <input type="text" name="staffingLevel" class="form-control" value="<%= staffingLevel %>">
        </div>
    </div>
</form>