<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label">入库仓库：</label>
        <div class="col-md-9">
            <select class="form-control" name="storeId">
                <% $.each(storeList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>入库单号：</label>
        <div class="col-md-9">
            <input type="text" name="storeNo" class="form-control" value="<%= storeNo %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>经办人：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="hidden" name="handlerId" id="handlerId" name="handlerId">
                <input class="form-control test" type="text" id="handlerName" value="<%= handlerName %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">装备名称：</label>
        <div class="col-md-9">
            <select class="form-control" name="equipId">
                <% $.each(goodsList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>入库数量：</label>
        <div class="col-md-9">
            <input type="text" name="num" class="form-control" value="<%= num %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>入库时间：</label>
        <div class="col-md-9">
            <input type="text" name="storeTime" id="storeTime" class="form-control" value="<%= storeTime %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">入库备注：</label>
        <div class="col-md-9">
            <input type="text" name="remark" class="form-control" value="<%= remark %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">创建人：</label>
        <div class="col-md-9">
            <span style="border: none" name="creatorId" class="form-control"><%= window.ownerPeopleName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">经办时间：</label>
        <div class="col-md-9">
            <span style="border: none" name="handleTime" class="form-control"><%= handleTime %></span>
        </div>
    </div>
</form>