<div class="loading" style="width: 95%"></div>

<form class="form-horizontal" id="editForm" >
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>警员</label>
        <div class="col-md-9">
            <input type="text" name="police" class="form-control" value="<%= police %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>培训类型</label>
        <div class="col-md-9">
            <input type="text" name="trainType" class="form-control" value="<%= trainType %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label"><span style="color: #f00;">* </span>培训单位</label>
        <div class="col-md-9">
            <input type="text" name="trainUnits" class="form-control" value="<%= trainUnits %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>培训地址</label>
        <div class="col-md-9">
            <input type="text" name="trainAddr" class="form-control" value="<%= trainAddr %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>培训时间</label>
        <div class="col-md-9">
            <div class="col-md-5 form-group"><input name="trainStartTime" class="form-control trainStartTime" type="text" value="<%= trainStartTime %>"></div>
            <div class="col-md-2" style="text-align: center;line-height: 30px;">至</div>
            <div class="col-md-5 form-group"><input name="trainEndTime" class="form-control trainEndTime" type="text" value="<%= trainEndTime %>"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>培训完成情况</label>
        <div class="col-md-9">
            <select class="form-control" name="isCompleted">
                <option value="0">未完成</option>
                <option value="1">已完成</option>
            </select>
        </div>
    </div>
</form>