<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <div class="form-group">
        <label class="col-md-3 control-label">办公区名称</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <input type="text" name="areaName" class="form-control" value="<%= areaName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">用途</label>
        <div class="col-md-9">
            <input type="text" name="areaUsage" class="form-control" value="<%= areaUsage %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label">面积</label>
        <div class="col-md-9">
            <input placeholder="请输入面积数字，如23.5" type="text" name="areaSize" class="form-control" value="<%= areaSize %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">地址</label>
        <div class="col-md-9">
            <input type="text" name="areaAddress" class="form-control" value="<%= areaAddress %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">照片</label>
        <div class="col-md-9">
            <input type="text" name="areaPhotoAddress" class="form-control" value="<%= areaPhotoAddress %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">描述</label>
        <div class="col-md-9">
            <input type="text" name="areaDescription" class="form-control" value="<%= areaDescription %>">
        </div>
    </div>

    <input type="hidden" name = "gmtCreate" id="gmtCreate">
    <input type="hidden" name = "gmtModified" id="gmtModified">
</form>