<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>装备：</label>
        <div class="col-md-9">
            <select class="form-control" name="equipId">
                <% $.each(goodsList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>出库仓库：</label>
        <div class="col-md-9">
            <select class="form-control" name="fromStoreId">
                <% $.each(storeList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>入库仓库：</label>
        <div class="col-md-9">
            <select class="form-control" name="toStoreId">
                <% $.each(storeList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.name %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>调拨单号：</label>
        <div class="col-md-9">
            <input type="text" name="storeNo" class="form-control" value="<%= storeNo %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>调拨数量：</label>
        <div class="col-md-9">
            <input type="text" name="num" class="form-control" value="<%= num %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>调出时间：</label>
        <div class="col-md-9">
            <input type="text" name="allocTime" id="allocTime" class="form-control" value="<%= allocTime %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>领用部门：</label>
        <div class="col-md-9">
            <select class="form-control" name="departmentId" value="<%= departmentId %>">
                <% $.each(departmentList, function(i, n) { %>
                    <option value="<%= n.id %>"><%= n.departmentName %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>领用人：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="hidden" name="pickerId" id="pickerId" name="pickerId" value="<%= pickerId %>">
                <input class="form-control test" name="pickerName" type="text" id="pickerName" value="<%= pickerName %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>经办人：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="hidden" name="handlerId" id="handlerId" value="<%= handlerId %>">
                <input class="form-control test" name="handlerName" type="text" id="handlerName" value="<%= handlerName %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">调拨备注：</label>
        <div class="col-md-9">
            <input type="text" name="remark" class="form-control" value="<%= remark %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">创建时间：</label>
        <div class="col-md-9">
            <span style="border: none" name="handleTime" class="form-control"><%= handleTime %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">创建人：</label>
        <div class="col-md-9">
            <span style="border: none" name="creatorName" class="form-control"><%= window.ownerPeopleName %></span>
        </div>
    </div>
</form>