<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="detailForm" >
    <input type="hidden" name="nodeIndex" class="nodeIndex detail-assist" value="<%= nodeIndex %>" />
    <div class="form-group">
        <label class="col-md-4 control-label"><span style="color: #f00;">* </span>节点名称</label>
        <div class="col-md-8">
            <input type="text" name="nodeName1"  class="form-control detail-assist" value="<%= nodeName1 %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"><span style="color: #f00;">* </span>审批人</label>
        <div class="col-md-8">
            <div class="input-group workflowManage">
                <input type="text" class="form-control test">
                <input type="text"  name="operator_valid" class="operatorId suggestValidAssist" value="<%= operatorId %>">
                <input type="hidden"  name="operatorId" class="detail-assist" value="<%= operatorId %>">
                <input type="hidden"  name="operatorName" class="detail-assist" value="<%= operatorName %>">
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
                <!-- /btn-group -->
            </div>
        </div>
    </div>
</form>