<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="assetEditForm">
    <input type="hidden" name="operatorId" value="<%= window.ownerPeopleId %>" id="operatorId" />
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label">资产名称：</label>
        <div class="col-md-9">
            <input type="text" name="assetName" class="form-control" value="<%= assetName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">资产编号：</label>
        <div class="col-md-9">
            <input type="text" name="assetNo" class="form-control" value="<%= assetNo %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">资产类别：</label>
        <div class="col-md-9">
            <select class="form-control" name="assetClassId">
                <% $.each(assetClassList, function(i, n) {%>
                    <option value="<%= n.id %>"><%= n.assetClass %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">购入时间：</label>
        <div class="col-md-9">
            <input type="text" name="assetBuyDate" class="form-control assetBuyDate" value="<%= assetBuyDate %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用人：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input class="form-control test" type="text" id="assetUsedName" name="assetUsedName" value="<%= assetUsedName %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用部门：</label>
        <div class="col-md-9">
            <select class="form-control" name="assetDepartmentId" value="<%= assetDepartmentId %>">
                <% $.each(departmentList, function(i, n) { %>
                    <option value="<%= n.id %>"><%= n.departmentName %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用期限（月）：</label>
        <div class="col-md-9">
            <input type="text" name="assetDeadline" class="form-control" value="<%= assetDeadline %>">
        </div>
    </div>
</form>