<div class="form-group">
        <label class="col-md-3 control-label">资产名称：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">资产编号：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetNo %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">资产类别：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetClassName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">购入时间：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetBuyDate %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用人：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetUsedName %></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">使用期限（月）：</label>
        <div class="col-md-9">
            <span style="border: none;" class="form-control"><%= assetDeadline %></span>
        </div>
    </div>