<div class="container-fluid">
    <!--首页主体-->
    <div class="col-sm-8 col-md-9 home-sidebar home_main">
    <!--<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main">-->
        <div class="row">
            <h4>待办事宜</h4>
            <div id="todoWrap">
                <div class="tabbable">
                    <ul class="nav nav-tabs" id="tabNav">
                        <% $.each(items, function(i, n){ %>
                        <li><a href="#" data-value="<%= i %>" data-toggle="tab"><%= n %></a></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="tab-content" id="home_tabContent"></div>
            </div>
        </div>
        <div class="row">
            <h4>最新会议</h4>
            <div id="meetingWrap">

            </div>
        </div>
    </div>
    <!--</div>-->
    <!--首页侧边栏-->
    <div class="col-sm-4 col-md-3 home-sidebar" >
        <div class="row">
            <div class="calendarWrap">

            </div>
        </div>
        <div class="row">
            <div class="btn-wrap">
                <button class="btn btn-primary btn-addDate">添加日程</button>
            </div>
            <div class="calendarDetail">

            </div>
        </div>
        <div class="row">
            <div class="workStaffWrap">
                <h4>名片</h4>
                <div class="cardWrap"></div>
            </div>
        </div>
    </div>
    <!--dialog-->
    <div class="modal fade bs-example-modal-lg" id="editDialog" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" style="width: 450px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" >待办事宜</h5>
                </div>
                <div class="modal-body" >
                    <div id="editPanel"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                    <button id="submitBtn" class="btn btn-primary" onclick="">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>