<div class="container-fluid">
    <!--首页主体-->
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2" id="main">
        <div class="row">
            <h1>待办事宜</h1>
            <div id="todoWrap">

            </div>
        </div>
        <div class="row">
            <h1>最新会议</h1>
            <div id="meetingWrap">

            </div>
        </div>
    </div>
    <!--</div>-->
    <!--首页侧边栏-->
    <div class="col-sm-3 col-md-2 sidebar" id="sidebar">
        <div class="row">
            <div class="calendarWrap">

            </div>
        </div>
        <div class="row">
            <div>
                <button class="btn-addDate">添加日程</button>
            </div>
            <div class="calendarDetail">

            </div>
        </div>
        <div class="row">
            <h1>名片</h1>
            <div class="cardWrap"></div>
        </div>
    </div>
</div>