<form class="form-horizontal" id="editDialogForm">
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>姓名</label>
        <div class="col-md-9">
            <input type="text" name="peopleName" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>工号</label>
        <div class="col-md-9">
            <input type="text" name="employeeNum" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>电话号码</label>
        <div class="col-md-9">
            <input type="text" name="phoneNum" class="form-control">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>邮箱地址</label>
        <div class="col-md-9">
            <input type="text" name="mailAddress" class="form-control">
        </div>
    </div>
</form>