<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="static/images/logo_teb.png" alt='当虹云' style="margin-top:-12px;">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left navbar-left-expand">
                <li><a href="#/index">首页</a></li>
                <li><a href="#/register/officeArea">登记</a></li>
                <li><a href="#/work/department">办公</a></li>
                <li><a href="#/support">后勤</a></li>
                <li><a href="#/service">勤务</a></li>
                <li><a href="#/assess">考核</a></li>
                <li><a href="#/training">训练</a></li>
                <li><a href="#/set">设置</a></li>
                <li><a href="#/shotcut">快捷方式</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right  navbar-btn-group">
                <li>
                    <div class="btn-group ">
                        <!--<span class="list_user icon" aria-hidden="true"></span>-->
                        <!--<button class="btn btn-default">${account}</button>-->
                        <button class="btn btn-default">张晓军</button>
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <!--<li><a href="#/editUser">个人信息</a></li>-->
                            <!--<li><a href="#/change/password">修改密码</a></li>-->
                            <!--<li class="divider"></li>-->
                            <li><a href="#/logout">安全退出</a></li>
                        </ul>
                    </div>

                </li>

            </ul>
        </div>

    </div>
</nav>

<div id="info-success-id" class="alert alert-success alert-custom" style="position:fixed" role="alert">
</div>
<div id="info-error-id" class="alert alert-danger alert-custom" style="position:fixed" role="alert"></div>

<div class="shadow"></div>

