<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" class="submit-assist" value="<%= id %>" id="id"/>
    <input type="hidden" name="acceptTime" class="submit-assist" value="<%= acceptTime %>"/>
    <input type="hidden" value="<%= currentNode %>" id="currentNode"/>
    <!--基本信息-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>标题</label>
                <div class="col-md-8">
                    <input type="text" name="title" class="form-control submit-assist w666" value="<%= title %>">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">创建人</label>
                <div class="col-md-8">
                    <input type="text" name="creatorName" disabled class="form-control" value="<%= creatorName %>">
                    <input type="hidden" name="creatorId" class="form-control submit-assist" value="<%= creatorId %>">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label title-wrap">
                    <span class="flow-title">所属部门</span>
                </label>
                <div class="col-md-8">
                    <input type="hidden" name="departmentId" class="form-control submit-assist" value="<%= departmentId %>">
                    <input type="text" name="departmentName" disabled class="form-control " value="<%= departmentName %>">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label">申请日期</label>
                <div class="col-md-8">
                    <input type="text" name="createTime" disabled class="form-control submit-assist" value="<%= createTime %>">
                </div>
            </div>
        </div>
    </div>
    <!--报销信息-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>报销人员</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <% if(!id){ %>
                        <input type="text" class="form-control test">
                        <% } %>
                        <% if(id){ %>
                        <input type="text" disabled class="form-control test">
                        <% } %>
                        <input type="text" name="operator_valid1" class="operator_valid suggestValidAssist" value="<%= applyerId %>">
                        <input type="hidden" name="applyerId" class="suggest-assist-id submit-assist">
                        <input type="hidden" name="applyerName" class="suggest-assist-name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>起始日期</label>
                <div class="col-md-8">
                    <input type="text" name="startTime" class="form-control startTime accessTime submit-assist" value="<%= startTime %>">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>结束日期</label>
                <div class="col-md-8">
                    <input type="text" name="endTime" class="form-control endTime accessTime submit-assist" value="<%= endTime %>">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>总天数</label>
                <div class="col-md-8">
                    <input type="text" name="totalDays" disabled class="form-control totalDays submit-assist" value="<%= totalDays %>">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>报销附件</label>
                <% if(!id){ %>
                <div class="col-md-8">
                    <div id="uploaderWrap"></div>
                    <input type="hidden" name="filePath" id="filePath" class="form-control submit-assist" value="<%= filePath %>">
                </div>
                <% } %>
                <% if(id){ %>
                <div class="col-md-8 createRepay_filePathWrap" style="overflow: auto;">
                    <% $.each(filePath, function(k, file){ %>
                    <a class="fileDownLoad" href="<%= file.filePath %>"><%= file.fileName %></a>
                    <% }); %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>报销类型</label>
                <div class="col-md-8">
                    <select name="type" class="form-control submit-assist">
                        <option value="0">借款单</option>
                        <option value="1">经费报销单</option>
                        <option value="2">差旅报销单</option>
                        <option value="3">还款单</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>申请理由</label>
                <div class="col-md-8">
                    <input type="text" name="reason" class="form-control submit-assist w405" value="<%= reason %>">
                </div>
            </div>
        </div>
    </div>
    <!--报销名细-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>报销明细</label>
                <div class="col-md-8">
                    <% if(!id){ %>
                    <button id="btn_detail_add" type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
                    </button>
                    <input type="text" class="addDetailValid inputHideAssist" name="addDetailValid">
                    <% } %>
                    <div class="tableWrap w666">
                        <div class="repayTableWrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--审批意见-->
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label flow-title"><font color="#f00">* </font>领导审批</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <% if(!id){ %>
                        <input type="text" class="form-control test">
                        <input type="text" name="operator_valid2" class="operator_valid suggestValidAssist" value="<%= operatorId %>">
                        <input type="hidden" name="operatorId" class="suggest-assist-id submit-assist">
                        <input type="hidden" name="operatorName" class="suggest-assist-name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                        <% } %>
                        <% if(id){ %>
                        <input type="text" name = "operatorName" disabled class="form-control test">
                        <input type="hidden" name="operatorName" class="suggest-assist-name">
                        <% } %>
                    </div>
                    <!--<input type="text" name="creatorName"  class="form-control w666" value="<%= creatorName %>">-->
                </div>
            </div>
        </div>
    </div>
    <% if((id && (creatorId == leaderId) && ( currentNode == "领导审批")) || (status != "submit") || currentNode == "财务审批"){ %>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>领导意见</label>
                <div class="col-md-8">
                    <textarea name="comment" class="form-control leader w666" value="<%= comment %>"><%= workFlow.nodeList[0].comment %></textarea>
                </div>
            </div>
        </div>
    </div>
    <% } %>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label flow-title"><font color="#f00">* </font>财务审批</label>
                <div class="col-md-8">
                    <div class="input-group">
                        <% if(!id){ %>
                        <input type="text" class="form-control test">
                        <input type="text" name="operator_valid3" class="operator_valid suggestValidAssist" value="<%= operatorId %>">
                        <input type="hidden" name="operatorId" class="suggest-assist-id submit-assist">
                        <input type="hidden" name="operatorName" class="suggest-assist-name">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            </ul>
                        </div>
                        <% } %>
                        <% if(id){ %>
                        <input type="text" name="operatorName" disabled class="form-control test">
                        <input type="hidden" name="operatorName" class="suggest-assist-name">
                        <% } %>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <% if((id && (creatorId == financerId) && ( currentNode == "财务审批")) || status != "submit"){ %>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="col-md-4 control-label"><font color="#f00">* </font>账务意见</label>
                <div class="col-md-8">
                    <textarea name="comment" class="form-control financer  w666" value="<%= comment %>"><%= workFlow.nodeList[1].comment %></textarea>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</form>