<ul class="nav nav-sidebar">
    <% $.each(list, function(i, n){ %>
        <li class="<%= i== 0 && 'active navLi' %>">
            <a class="item"  href="<%= n && n.href %>">
                <% if(n && n.children && n.children.length > 0){ %>
                <i class="nav-icon"></i>
                <% } %>
                <span><%= n && n.title %></span>
            </a>
            <% if(n && n.children && n.children.length > 0){ %>
                <ul class="nav nav-sub">
                    <% $.each(n && n.children, function(k, m){ %>
                        <li class="navLi">
                            <a class="item" href="<%= m && m.href %>" data-route="u-s">
                                <span><%= m && m.title %></span>
                            </a>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </li>
        <span class="<%= n && n.className %> icon_com"></span>
    <% }); %>
</ul>