<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" class="submit-assist" value="<%= id %>" id="id" />
    <input type="hidden" name="status" class="submit-assist" value="<%= status %>" id="status" />
    <input type="hidden" name="creatorId" class="submit-assist" value="<%= creatorId %>" id="creatorId" />
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>标题</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <% if(workFlow.currentNode.nodeIndex == 0 && currentOperatorName != "null"){ %>
                <input type="text" name="title" class="form-control submit-assist" value="<%= title %>">
            <% } %>
            <% if(workFlow.currentNode.nodeIndex != 0 || currentOperatorName == "null"){ %>
                <input type="text" name="title" disabled class="form-control submit-assist" value="<%= title %>">
            <% } %>
        </div>
    </div>
    <!--详情-->
    <% if(workFlow.currentNode.nodeIndex != 0 || currentOperatorName == "null"){ %>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>收文时间</label>
        <div class="col-md-9">
            <input type="text" name="gmtCreate" disabled class="form-control" value="<%= gmtCreate %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>创建人</label>
        <div class="col-md-9">
            <input type="text" name="creatorName" disabled class="form-control" value="<%= creatorName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>待操作人</label>
        <div class="col-md-9">
            <input type="text" id="currentOperatorName" disabled name="currentOperatorName" class="form-control" value="<%= currentOperatorName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><span style="color: #f00;">* </span>正文</label>
        <div class="col-md-9">
            <textarea type="text" name="content" disabled class="form-control submit-assist" value="<%= content %>"><%= content %></textarea>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 control-label">收文流程</label>
        <div class="col-md-9">
            <select name="type" value="<%= type %>" disabled class="form-control submit-assist flowTypeWrap">
            </select>
        </div>
    </div>
    <% } %>
    <!--详情-->
    <% if(workFlow.currentNode.nodeIndex == 0 && currentOperatorName != "null"){ %>
    <div class="form-group">
        <label class="col-md-3 control-label">正文</label>
        <div class="col-md-9">
            <textarea type="text" name="content"  class="form-control submit-assist" value="<%= content %>"><%= content %></textarea>
        </div>
    </div>
    <div class="row">
        <label class="col-md-3 control-label">收文流程</label>
        <div class="col-md-9">
            <select name="type" value="<%= type %>" class="form-control submit-assist flowTypeWrap">
            </select>
        </div>
    </div>
    <% } %>
    <div class="form-group">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-9">
            <div class="flowWrapDetail">

            </div>
        </div>
    </div>
    <% if((window.ownerPeopleId == currentOperatorId) && (workFlow.currentNode.nodeIndex != 0)){ %>
        <div class="row">
            <label class="col-md-3 control-label"><span style="color: #f00;">* </span>意见反馈</label>
            <div class="col-md-9">
                <textarea type="text" name="comment" id="comment" class="form-control"></textarea>
            </div>
        </div>
    <% } %>
</form>