<form class="form-horizontal" id="editForm" >
	<div class="row">
        <div class="form-group col-md-5">
            <label class="col-md-3  control-label pl0"><span style="color: #f00;">* </span>开始日期：</label>
            <div class="col-md-9">
                <input placeholder="请选择开始日期" type="text" name="startDate" id="startDate" class="form-control" value="<%= startDate %>">
            </div>
        </div>
        <div class="form-group col-md-5">
            <label class="col-md-3  control-label pl0"><span style="color: #f00;">* </span>结束日期：</label>
            <div class="col-md-9">
                <input placeholder="请选择结束日期" type="text" name="endDate" id="endDate" class="form-control" value="<%= endDate %>">
            </div>
        </div>
        <div class="col-md-1">
            <button class="btn btn-primary" id="submitBtn">查询</button>
        </div>
    </div>
    <div class="row">
        <table id="leave_table"></table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="col-md-4">请假天数：</span>
            <span class="col-md-8 leave_day" style="color: #00f"><%= leaveDays %> 天</span>
        </div>
    </div>
    <div class="row">
        <table id="over_table"></table>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span class="col-md-4">加班天数：</span>
            <span class="col-md-8 over_day" style="color: #00f"><%= overDays %> 天</span>
        </div>
    </div>
</form>