<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" id="id" value="<%= id %>" />
    <div class="form-group">
        <label class="col-md-3 control-label">部门名称</label>
        <div class="col-md-9">
            <!--<input type="hidden" name="id" class="form-control" value="{{id}}">-->
            <input type="text" name="departmentName" class="form-control" value="<%= departmentName %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">部门职责</label>
        <div class="col-md-9">
            <input type="text" name="responsibility" class="form-control" value="<%= responsibility %>">
        </div>
    </div>
</form>