<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" id="id" value="<%= id %>" />
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>姓名</label>
        <div class="col-md-9">
            <input type="text" name="name" class="form-control" value="<%= name %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>身份证号码</label>
        <div class="col-md-9">
            <input type="text" name="idCard" class="form-control" value="<%= idCard %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>事由</label>
        <div class="col-md-9">
            <input type="text" name="reason" class="form-control" value="<%= reason %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>被访问人</label>
        <div class="col-md-9">
            <div class="input-group">
                <input class="form-control test" name="interviewee" type="text" id="interviewee" value="<%= interviewee %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3  control-label"><font color="#f00">* </font>访问时间</label>
        <div class="col-md-9">
            <input type="text" name="gmtCreate" class="form-control accessTime" value="<%= gmtCreate %>">
        </div>
    </div>
</form>