<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm" action="%{request.contextPath}/live/template/add">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label">装备编码</label>
        <div class="col-md-9">
            <input type="text" name="code" class="form-control" value="<%= code %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">装备名称</label>
        <div class="col-md-9">
            <input type="text" name="name" class="form-control" value="<%= name %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">装备规格</label>
        <div class="col-md-9">
            <input type="text" name="scale" class="form-control" value="<%= scale %>">
        </div>
    </div>
</form>