<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-2 control-label">时间：</label>
        <div class="col-md-9">
            <span class="col-md-5"><input name="summaryStartTime" class="form-control startDate" type="text" value="<%= summaryStartTime %>"></span>
            <span class="col-md-2" style="text-align: center;line-height: 30px;">至</span>
            <span class="col-md-5"><input name="summaryEndTime" class="form-control endDate" type="text" value="<%= summaryEndTime %>"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">领导姓名：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="text" id="leaderName" class="form-control test" value="<%= leaderName %>">
                <input type="hidden" name="leaderId" value="<%= leaderId %>">
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">标题：</label>
        <div class="col-md-9">
            <input type="text" name="summaryTitle" class="form-control" value="<%= summaryTitle %>">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">内容：</label>
        <div class="col-md-9">
            <textarea name="summaryContent" class="form-control"><%= summaryContent%></textarea>
        </div>
    </div>
</form>