<div class="loading" style="width:95%"></div>

<form class="form-horizontal" id="editForm">
    <input type="hidden" name="id" value="<%= id %>" id="id" />
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>访客姓名：</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="recordName" value="<%= recordName %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>被访问者姓名：</label>
        <div class="col-md-9">
            <div class="input-group">
                <input type="hidden" name="intervieweeId" id="intervieweeId" value="<%= intervieweeId %>">
                <input class="form-control test" type="text" id="peopleName" name="intervieweeName" value="<%= intervieweeName %>" />
                <div class="input-group-btn">
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>访问原因：</label>
        <div class="col-md-9">
            <input class="form-control" type="text" name="recordResult" value="<%= recordResult %>" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label"><font color="#f00">* </font>访问时间：</label>
        <div class="col-md-9">
            <div class="col-md-5 form-group"><input name="startTime" class="form-control startTime" type="text" value="<%= startTime %>"></div>
            <div class="col-md-2 form-group" style="text-align: center;line-height: 30px;">至</div>
            <div class="col-md-5 form-group"><input name="endTime" class="form-control endTime" type="text" value="<%= endTime %>"></div>
        </div>
    </div>
</form>